

body{
  /* background-image: url(https://i.pinimg.com/originals/ef/72/2d/ef722d6410685ee607533a93b5aeadec.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

}

div#hed {
 
  background-color: cadetblue;
  margin: 7%;
}
h1 {
    
  color: powderblue;
    text-align: center;
    padding: 3%;
    margin: 3%;
    font-size: 300%;
    font-style: italic;
   
}


h2 {
  background-color: cadetblue;
  font-style: italic;
    width: 12%;
    padding: 1%;
    margin: 7%;
    font-weight: bold;
    color: azure;
  

}


li {
    color: black;
    margin: 20px;
    
}


th, td {
    border: 1px solid #797878;
    padding: 5px 12px;
    font-size: 12px;
    text-align: center;
  }
  th {
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    text-transform: capitalize;
    background-color: aliceblue;
  }
  table{
   
   width: 80%;
    margin: 7%;
  }

  button{
    padding: 1%;
   
    text-align: center;
   
    background-color: cadetblue;
    font-style: italic;
      width: 12%;
      padding: 1%;
      margin: 7%;
      font-weight: bold;
      color: azure;
    
  }

  #logo {
  
    width: 10%;
    float: left;
    margin-left: 5%;
    margin-top: 2.5%

  
  }

  .add {
    
   
  background-color: rgb(248, 243, 200);
    font-size: 300%;
    font-style: italic;
    height: 10%;
    width: 35%;
    margin-left: 40%;
    margin-top: 15%;
  }

  .info {
    font-size: 300%;
    font-style: italic;
    height: 10%;
    width: 88%;
    color: coral;
    margin: 7%;
}

#store {
  width: 75%;
  margin: 10%;
  
}

#maps{
  text-align: center;
 
  border: 1px solid transparent;

  margin: 7%;
  width: 87%;
}

#shopname {
  color: slategray;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
}
#contact {

  width: 9%;
  margin-left: 13%
}

#link {
  margin-left: 13%;
  margin-top: 2%;
  line-height: 205%;
  color: tomato;
}

#footer{

  text-align: center;
    padding: 1%;
    margin: 7%;
    background-color: tan;
}


legend {
  
  
  color: teal;
  font-size: x-large;
}
fieldset {
  margin: 7%;
  line-height: 231%;
}

label {
  color: cadetblue;
  font-size: large;
  font-style: oblique;
}
input {
  border: inset;
  color: teal;
}